html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Computersprog
        script(src="javascripts/computersprog1.js", type="text/javascript")
        link(rel="stylesheet", href="stylesheets/computersprog1.css")
    body
        div
            h1 Bøger om Computersprog1
        div(class="hrefs") 
            a(href="/", class="knap") Forside
            a(href="/webapplikationer", class="knap") Webapplikationer
            a(href="/computersprog", class="knap") Computersprog
        div#table
            

