html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Computersprog
        script(src="javascripts/computersprog.js", type="text/javascript")
        link(rel="stylesheet", href="stylesheets/computersprog.css")
    body
        div
            h1 Bøger om Computersprog
        div(class="knapdiv") 
            a(href="/", class="knap") Forside
            a(href="/computersprog", class="knap") Computersprog
            a(href="/webapplikationer", class="knap") Webapplikationer
            a(href="/computersprog1", class="knap") Computersprog1
            a(href="/api", class="knap") API
            a(href="/webapplikationer1", class="knap") Webapplikationer1
        div 
            table
                tr
                    th Titel
                    th Forfatter 
                    th Forlag 
                    th udgave 
                    th pris
                tr
                    td Introduction to Java
                    td Liang, Daniel Y
                    td Pearson
                    td 10
                    td 250
                tr
                    td Python Crash Course 
                    td Eric Matthes 
                    td No Starch
                    td 2
                    td 300


