html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Forside
    script(src="javascripts/index.js", type="text/javascript")
    link(rel="stylesheet", href="stylesheets/style.css")
  body 
    div(class="maintekst")
      h1 ITbog-genbrugsbutik
      h3 ITbog-genbrugsbutik er en fysisk bog-genbrugsbutik med fokus på IT-bøger fra emner som Computersprog til Webapplikationer.
      h3 ITbog-genbrugsbutik hjælper vi jer med at finde hvilke bøger vi har på lager i butikken så du slipper for at komme forgæves.

    div(class="knapdiv") 
      a(href="/computersprog", class="knap") Computersprog
      a(href="/webapplikationer", class="knap") Webapplikationer
      a(href="/computersprog1", class="knap") Computersprog1
        

