html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Webapplikationer
        script(src="javascripts/webapplikationer.js", type="text/javascript")
        link(rel="stylesheet", href="stylesheets/webapplikationer.css")
    body
        div
            h1 Bøger om Webapplikationer
        div 
            a(href="/", class="knap") Forside
            a(href="/computersprog", class="knap") Computersprog
            a(href="/computersprog1", class="knap") Computersprog1
        div 
            table
                tr
                    th Titel
                    th Forfatter 
                    th Forlag 
                    th udgave 
                    th pris
                tr
                    td Introduction to Javascript
                    td Kenneth Geisshirt
                    td Libris
                    td 1
                    td 50
                tr
                    td Practice Node.js
                    td Azat Mardan
                    td Apress
                    td 2
                    td 350

