body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  h1 {
    color: black;
  }
  
  .knap {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  th {
    text-decoration: underline;
  }

  .hrefs {

  }